{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col offset-sm-3 mb-5">
        <h1 class="bd-title">Tap to reveal card</h1>
    </div>
</div>


        <div class="row">


            <div class="col-sm-3 offset-sm-3 col-6">
                <a href="/breakaway/revealed_breakaway_card_1">
                    <div class="card-shape card-back {{ breakaway_card_backs }}">
                        <span class="central-letter">{{ central_letter }}</span>

                    </div>
                </a>
            </div>


        </div><!--endrow-->





{% endblock %}
