{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col offset-sm-3 mb-5">
        <h1 class="bd-title">Your Breakaway Cards</h1>
    </div>
</div>



        <div class="row">



                    <div class="col-sm-3 offset-sm-3 col-6">

                            <div class="card-shape {{ chosen_card_0[2] }}">
                                <span class="{% if "S" is in card %}mini-letter{% else %}mini-letter-square{% endif %}">{{ chosen_card_0[1] }}</span>
                                <p>{{ chosen_card_0[0] }}</p>
                            </div>
                            <div>
                            {% if session["is_breakaway_winner_0"] == False %}
                                <a href="/breakaway/breakaway_winner/0" class="btn btn-secondary btn-lg justify-content-center exhaust-button">Mark<br>Winner</a>
                            {% else %}
                                <a href="#" class="btn btn-danger btn-lg exhaust-button">Exhaustion<br>Added</a>
                            {% endif %}
                            </div>

                    </div>





                    <div class="col-sm-3 col-6">

                            <div class="card-shape {{ chosen_card_1[2] }}">
                                <span class="{% if "S" is in card %}mini-letter{% else %}mini-letter-square{% endif %}">{{ chosen_card_1[1] }}</span>
                                <p>{{ chosen_card_1[0] }}</p>
                            </div>
                            <div>
                            {% if session["is_breakaway_winner_1"] == False %}
                                <a href="/breakaway/breakaway_winner/1" class="btn btn-secondary btn-lg justify-content-center exhaust-button">Mark<br>Winner</a>
                            {% else %}
                                <a href="#" class="btn btn-danger btn-lg exhaust-button">Exhaustion<br>Added</a>
                            {% endif %}
                            </div>

                    </div>




        </div><!--endrow-->
        <div class="row mt-5 justify-content-center">
        <a href="{{ url_for('breakaway.breakaway_final_check') }}" class="btn btn-primary btn-lg">Move to first Round</a>
        </div><!--endrow-->


    </form>

{% endblock %}
