{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col offset-sm-3 mb-5">
        <h1 class="bd-title">Tap to reveal card</h1>
    </div>
</div>
        <div class="row">
            <div class="col-sm-3 offset-sm-3 col-6">

                    <div class="card-shape {{ chosen_cards[0][2] }}">
                        <span class="{% if "S" == chosen_cards[0][1] %}
                            mini-letter
                        {% else %}mini-letter-square
                        {% endif %}">{{ chosen_cards[0][1] }}</span>
                        <p>{{ chosen_cards[0][0] }}</p>
                    </div>

            </div>

            <div class="col-sm-3 col-6">
                <a href="/breakaway/breakaway_revealed_card_2">
                    <div class="card-shape card-back {{ breakaway_card_backs }}">
                        <span class="central-letter">{{ central_letter }}</span>

                    </div>
                </a>
            </div>

        </div><!--end row-->

        





{% endblock %}
