{% extends 'base.html' %}

{% block body %}
    <h1 class="bd-title">Choose a card for your {{ deck_for_title }}</h1>

    <form method="POST" action="{{ url_for('card_picker_2') }}">

        <div class="row">
            {% for card in current_hand %}

            <div class="col-sm">
                <input type="radio" id="card_{{ loop.index0 }}" name="card_choice" class="input-hidden" value="{{ loop.index0 }}" required/>
                <label for="card_{{ loop.index0 }}">

                    <div class="card-shape {{ card[2] }}">
                        <!-- <span class="mini-letter">{{ card[1] }}</span> -->
                        <span class="{% if "S" is in card %}mini-letter{% else %}mini-letter-square{% endif %}">{{ card[1] }}</span>
                        <p>{{ card[0] }}</p>
                    </div>
                </label>
            </div>

            {% endfor %}
        </div><!--endrow-->
        <div class="row mt-5">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div><!--endrow-->


    </form>

{% endblock %}
