{% extends 'base.html' %}

{% block body %}
    <h1 class="bd-title">Which cyclist would you like to start with?</h1>


        <div class="row">


            <div class="col-sm">
                <a href="/card_picker_1/sprint">
                    <div class="card-shape card-back roll-back">
                        <span class="central-letter">S</span>

                    </div>
                </a>
            </div>

            <div class="col-sm">
                <a href="/card_picker_1/roll">
                    <div class="card-shape card-back sprint-back">
                        <span class="central-letter">R</span>

                    </div>
                </a>
            </div>


        </div><!--endrow-->



    

{% endblock %}
