{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col offset-sm-3 mb-5">
            <h1 class="bd-title">Choose your first deck.</h1>
        </div>
    </div>


        <div class="row">



            <div class="col-sm-3 offset-sm-3 col-6">
                <a href="/card_picker_1/sprint">
                    <div class="card-shape card-back sprint-back">
                        <span class="central-letter">S</span>

                    </div>
                </a>
            </div>

            <div class="col-sm-3 col-6">
                <a href="/card_picker_1/roll">
                    <div class="card-shape card-back roll-back">
                        <span class="central-letter">R</span>

                    </div>
                </a>
            </div>


        </div><!--endrow-->





{% endblock %}
