{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col offset-sm-3 mb-5">
            <h1 class="bd-title">Choose your first deck.</h1>
        </div>
    </div>


        <div class="row">



            <div class="col-sm-3 offset-sm-3 col-6">
                <a href="/card_picker_1/deck_1">
                    <div class="card-shape card-back {{ session['deck_1']['card-back'] }}">
                        <span class="central-letter">{{ session['deck_1']['card-letter'] }}</span>

                    </div>
                </a>
                {% if session['is_meteo'] %}
                <div>
                    <a id='deck_1_tailwind' class="btn btn-secondary btn-lg exhaust-button">Add<br>Tailwind</a>
                </div>
                <div>
                    <a id='deck_1_headwind' class="btn btn-secondary btn-lg exhaust-button">Add<br>Headwind</a>
                </div>
                <div>
                    <a id='deck_1_nowind' class="btn btn-secondary btn-lg exhaust-button">Remove<br>Wind</a>
                </div>
                {% endif %}
            </div>

            <div class="col-sm-3 col-6">
                <a href="/card_picker_1/deck_2">
                    <div class="card-shape card-back {{ session['deck_2']['card-back'] }}">
                        <span class="central-letter">{{ session['deck_2']['card-letter'] }}</span>

                    </div>
                </a>
                {% if session['is_meteo'] %}
                <div>
                    <a id='deck_2_tailwind' class="btn btn-secondary btn-lg exhaust-button">Add<br>Tailwind</a>
                </div>
                <div>
                    <a id='deck_2_headwind' class="btn btn-secondary btn-lg exhaust-button">Add<br>Headwind</a>
                </div>
                <div>
                    <a id='deck_2_nowind' class="btn btn-secondary btn-lg exhaust-button">Remove<br>Wind</a>
                </div>
                {% endif %}
            </div>


        </div><!--endrow-->





{% endblock %}

{% block script %}

<script type="text/javascript">
    $(document).ready(function(){
        $('.exhaust-button').on('click', function() {

            var deck_id = $(this).attr('id');
            var gust = new Audio('{{ url_for('static', filename='sounds/wind_gust.mp3') }}')

            req = $.ajax({
                url: '/change_hand_size',
                type: 'POST',
                data : { deck_id : deck_id }
            });



            $('#'+deck_id).fadeOut(function(){
                $('#'+deck_id).html('Deck Size<br>Changed');
                $('#'+deck_id).removeClass( "btn-secondary" ).addClass( "btn-danger" );

            }).fadeIn();

            gust.play();
        });
    });
</script>

{% endblock %}
