{% extends 'base.html' %}

{% block body %}
    <h1 class="bd-title">Tap to reveal cards</h1>


        <div class="row">


            <div class="col-sm">
                <a href="/revealed_cards">
                    <div class="card-shape card-back roll-back">
                        <span class="central-letter">S</span>

                    </div>
                </a>
            </div>

            <div class="col-sm">
                <a href="/revealed_cards">
                    <div class="card-shape card-back sprint-back">
                        <span class="central-letter">R</span>

                    </div>
                </a>
            </div>


        </div><!--endrow-->





{% endblock %}
