{% extends 'base.html' %}

{% block body %}
    <h1 class="bd-title">Reveal your cards when ready</h1>



        <div class="row">


            <div class="col-sm">
                <div class="card-shape card-back roll-back">
                    <span class="central-letter">S</span>
                    
                </div>
            </div>

            <div class="col-sm">
                <div class="card-shape card-back sprint-back">
                    <span class="central-letter">S</span>

                </div>
            </div>


        </div><!--endrow-->
        <div class="row mt-5">
        <button href="#" class="btn btn-primary btn-lg">Reveal</button>
        </div><!--endrow-->


    </form>

{% endblock %}
