{% extends 'base.html' %}

{% block body %}
    <h1 class="bd-title mt-5">Welcome to Flamme Rouge Dealer</h1>

    <form method="POST" action="{{ url_for('setup') }}" class="mt-5">

        <div class="form-group row">

            <div class="col-md-3 col-form-label">
                <label for="name">Name</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="name" name="player_name">
            </div>
        </div>
        <div class="form-group row">
            <legend class="col-form-label col-md-3 pt-0">Team Color</legend>
            <div class="col-md-9">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="team_color" id="green" value="green-card" required>
                    <label class="form-check-label" for="green">
                        Green
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="team_color" id="pink" value="pink-card">
                    <label class="form-check-label" for="pink">
                        Pink
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="team_color" id="blue" value="blue-card">
                    <label class="form-check-label" for="blue">
                        Blue
                    </label>
                </div>
            </div>
        </div><!--end form-group-->
        <div class="row mt-5">
            <div class="col-md-9 offset-md-3">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>

        </div><!--endrow-->


    </form>

{% endblock %}
