{% extends 'base.html' %}

{% block body %}
    <!-- <div class="row">
        <div class="offset-md-2">
            <h1 class="bd-title mt-5">Welcome to Flamme Rouge Dealer</h1>
        </div>
    </div> -->
    <form method="POST" action="{{ url_for('setup') }}" class="mt-5">


        <div class="form-group row">

            <div class="col-md-2 offset-md-2">
                <h3><legend class="col-form-label">Team Color</legend></h3>
            </div>

            <div class="col-md-4">
                <div class="btn-group-toggle btn-group-lg btn-group-vertical team-color-choice-btns ml-3" data-toggle="buttons">
                    <label class="btn btn-secondary team-color-btn">
                        <input type="radio" name="team_color" id="red" value="red-card" autocomplete="off" required> Red
                    </label>
                    <label class="btn btn-secondary team-color-btn">
                        <input type="radio" name="team_color" id="green" value="green-card"autocomplete="off"> Green
                    </label>
                    <label class="btn btn-secondary team-color-btn">
                        <input type="radio" name="team_color" id="black" value="black-card"autocomplete="off"> Black
                    </label>
                    <label class="btn btn-secondary team-color-btn">
                        <input type="radio" name="team_color" id="white" value="white-card" autocomplete="off" required> White
                    </label>
                    <label class="btn btn-secondary team-color-btn">
                        <input type="radio" name="team_color" id="blue" value="blue-card"autocomplete="off"> Blue
                    </label>
                    <label class="btn btn-secondary team-color-btn">
                        <input type="radio" name="team_color" id="pink" value="pink-card"autocomplete="off"> Pink
                    </label>
                </div>
            </div>
        </div><!--end form-group and row-->
        <hr/>
        <div class="form-group row">

            <div class="col-md-2 offset-md-2">
                <h3><legend class="col-form-label">Peloton Options</legend></h3>
            </div>

            <div class="col-md-4">
                <div class="btn-group-toggle team-color-btn btn-lg mb-2" data-toggle="buttons">
                  <label class="btn btn-secondary team-color-choice-btns btn-lg">
                    <input type="checkbox" autocomplete="off" name="breakaway_option" id="breakaway_option" value="True"> Breakaway
                  </label>
                </div>


                <p>
                <button class="btn btn-primary ml-3 btn-lg" type="button" data-toggle="collapse" data-target="#muscle-team-color-chooser" aria-expanded="false" aria-controls="muscle-team-color-chooser">
                Add<br>Muscle Team
                </button>
                </p>
                <div class="collapse mb-4" id="muscle-team-color-chooser">
                    <p>Choose Muscle Team Color</p>
                    <div class="btn-group-toggle btn-group-lg btn-group-vertical team-color-choice-btns ml-3" data-toggle="buttons">
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="muscle_team_color" id="red" value="red-card" autocomplete="off"> Red
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="muscle_team_color" id="green" value="green-card"autocomplete="off"> Green
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="muscle_team_color" id="black" value="black-card"autocomplete="off"> Black
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="muscle_team_color" id="white" value="white-card" autocomplete="off"> White
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="muscle_team_color" id="blue" value="blue-card"autocomplete="off"> Blue
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="muscle_team_color" id="pink" value="pink-card"autocomplete="off"> Pink
                        </label>
                    </div>

                    <p>
                    <button class="btn btn-primary ml-3 mt-3 btn-lg" type="button" data-toggle="collapse" data-target="#second-muscle-team-color-chooser" aria-expanded="false" aria-controls="second-muscle-team-color-chooser">
                    Add Second<br>Muscle Team
                    </button>
                    </p>
                    <div class="collapse mb-4" id="second-muscle-team-color-chooser">
                        <p>Choose Second Muscle Team Color</p>
                        <div class="btn-group-toggle btn-group-lg btn-group-vertical team-color-choice-btns ml-3" data-toggle="buttons">
                            <label class="btn btn-secondary team-color-btn">
                                <input type="radio" name="second_muscle_team_color" id="red" value="red-card" autocomplete="off"> Red
                            </label>
                            <label class="btn btn-secondary team-color-btn">
                                <input type="radio" name="second_muscle_team_color" id="green" value="green-card"autocomplete="off"> Green
                            </label>
                            <label class="btn btn-secondary team-color-btn">
                                <input type="radio" name="second_muscle_team_color" id="black" value="black-card"autocomplete="off"> Black
                            </label>
                            <label class="btn btn-secondary team-color-btn">
                                <input type="radio" name="second_muscle_team_color" id="white" value="white-card" autocomplete="off"> White
                            </label>
                            <label class="btn btn-secondary team-color-btn">
                                <input type="radio" name="second_muscle_team_color" id="blue" value="blue-card"autocomplete="off"> Blue
                            </label>
                            <label class="btn btn-secondary team-color-btn">
                                <input type="radio" name="second_muscle_team_color" id="pink" value="pink-card"autocomplete="off"> Pink
                            </label>
                        </div>
                    </div><!--end second muscle team collapsable div -->

                </div> <!-- end first muscle team collapsable div -->

                <p>
                <button class="btn btn-primary ml-3 btn-lg" type="button" data-toggle="collapse" data-target="#peloton-team-color-chooser" aria-expanded="false" aria-controls="peloton-team-color-chooser">
                Add<br>Peloton Team
                </button>
                </p>
                <div class="collapse" id="peloton-team-color-chooser">
                    <p>Choose Peloton Team Color</p>
                    <div class="btn-group-toggle btn-group-lg btn-group-vertical team-color-choice-btns ml-3" data-toggle="buttons">
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="peloton_team_color" id="red" value="red-card" autocomplete="off"> Red
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="peloton_team_color" id="green" value="green-card"autocomplete="off"> Green
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="peloton_team_color" id="black" value="black-card"autocomplete="off"> Black
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="peloton_team_color" id="white" value="white-card" autocomplete="off"> White
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="peloton_team_color" id="blue" value="blue-card"autocomplete="off"> Blue
                        </label>
                        <label class="btn btn-secondary team-color-btn">
                            <input type="radio" name="peloton_team_color" id="pink" value="pink-card"autocomplete="off"> Pink
                        </label>
                    </div>

                </div>


            </div><!-- end col -->

        </div><!-- end row -->


        <!---------------------------------- begin meteo options --------------------------------->
        <hr/>
        <div class="form-group row">

            <div class="col-md-2 offset-md-2">
                <h3><legend class="col-form-label">Meteo Options</legend></h3>
            </div>

            <div class="col-md-4">

                <div class="btn-group-toggle btn-lg mb-2" data-toggle="buttons">
                  <label class="btn btn-secondary team-color-choice-btns btn-lg">
                    <input type="checkbox" autocomplete="off" name="is_meteo" id="is_meteo" value="True"> Add Weather<br>Rules
                  </label>
                </div>
            </div>
        </div><!-- end row -->
        <!---------------------------------- begin general options --------------------------------->
        <hr/>
        <div class="form-group row">

            <div class="col-md-2 offset-md-2">
                <h3><legend class="col-form-label">General Options</legend></h3>
            </div>

            <div class="col-md-4">

                <div class="btn-group-toggle team-color-btn btn-lg" data-toggle="buttons">
                  <label class="btn btn-secondary team-color-choice-btns btn-lg">
                    <input type="checkbox" autocomplete="off" name="exhaustion_reminder" id="exhaustion_reminder" value="True"> Exhaustion<br>Reminders
                  </label>
                </div>

                <div class="btn-group-toggle team-color-btn btn-lg" data-toggle="buttons">
                  <label class="btn btn-secondary team-color-choice-btns btn-lg">
                    <input type="checkbox" autocomplete="off" name="view_played" id="view_played" value="True">View<br>Played Cards
                  </label>
                </div>

            </div><!-- end col-->
        </div><!-- end row -->

        <div class="form-group row">
            <div class="col-md-2 offset-md-2">
                <h3><legend class="col-form-label">Starting Exhaustion</legend></h3>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="add_sprint_exhaustion">Additional Sprinter Exhaustion</label>
                    <select class="form-control" id="add_sprint_exhaustion" name="add_sprint_exhaustion">
                        <option selected>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="add_roll_exhaustion">Additional Roller Exhaustion</label>
                    <select class="form-control" id="add_roll_exhaustion" name="add_roll_exhaustion">
                        <option selected>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                </div>
            </div>

        </div>


        <div class="row mt-5">
            <div class="col-md-9 offset-md-4">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>

        </div><!--endrow-->


    </form>

{% endblock %}
