{% extends 'base.html' %}

{% block body %}
    <h1 class="bd-title">Your Cards</h1>



        <div class="row">

            {% for card in chosen_cards if card[1] == "S" %}

                    <div class="col-sm">

                            <div class="card-shape {{ card[2] }}">
                                <span class="mini-letter">{{ card[1] }}</span>
                                <p>{{ card[0] }}</p>
                            </div>
                            <a href="/add_exaustion/sprint" class="btn btn-primary btn-lg">Add Exaustion Card to Sprinter Deck</a>
                    </div>

            {% endfor %}

            {% for card in chosen_cards if card[1] == "R" %}

                    <div class="col-sm">

                            <div class="card-shape {{ card[2] }}">
                                <span class="mini-letter">{{ card[1] }}</span>
                                <p>{{ card[0] }}</p>
                            </div>
                            <a href="/add_exaustion/roll" class="btn btn-primary btn-lg">Add Exaustion Card to Roller Deck</a>

                    </div>

            {% endfor %}


        </div><!--endrow-->
        <div class="row mt-5">
        <a href="{{ url_for('choose_deck') }}" class="btn btn-primary btn-lg">Begin Round {{ next_round }}</a>
        </div><!--endrow-->


    </form>

{% endblock %}
